anthropic
beautifulsoup4
datasets
google-genai
groq
huggingface-hub
gradio
ipython
ipywidgets
langchain-chroma
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
litellm
matplotlib
networkx
nbformat
numpy
openai
pillow
plotly
pydantic
python-dotenv
requests
scikit-learn
sentence-transformers
tenacity
tiktoken
torch
tqdm
transformers
xgboost
