anthropic
beautifulsoup4
google-genai
gradio
ipython
langchain-chroma
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
litellm
matplotlib
networkx
numpy
openai
pillow
plotly
python-dotenv
requests
scikit-learn
sentence-transformers
tiktoken
